<div class="container">
    
    <div class="form-players">
        <form class="form-play" [formGroup]="player1Form">
        <h2>Player 1</h2>
        <b>Username</b>
        <div class="input-form">
        <input required type="text" placeholder="Username" formControlName="username">
        </div>
        <b>Pokemon</b>
        <div class="select-form">
            
            <select class="select-form-play" formControlName="pokemon1">
                <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                    {{pokemon.name}}
                </option>
            </select>
            <select class="select-form-play" formControlName="pokemon2">
                <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                    {{pokemon.name}}
                </option>
            </select>
            <select class="select-form-play" formControlName="pokemon3">
                <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                    {{pokemon.name}}
                </option>
            </select>
        </div>
        <div class="button-form">
        </div>


    
            <h2>Player 2</h2>
            <b>Username</b>
            <div class="input-form">
            <input type="text" placeholder="Username" formControlName="usernameOpp">
            </div>
            <b>Pokemon</b>
            <div class="select-form">
            <select class="select-form-play" formControlName="pokemon1Opp">
                <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                    {{pokemon.name}}
                </option>
            </select>
            <select class="select-form-play" formControlName="pokemon2Opp">
                <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                    {{pokemon.name}}
                </option>
                </select>
            <select class="select-form-play" formControlName="pokemon3Opp">
                <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                    {{pokemon.name}}
                </option>
            </select>
            </div>
            <div class="button-form">
        <button [hidden]="ready" type="button" (click)="onSubmit()" class="btn-play">Conferma Giocatore 2</button>
        <img [hidden]="!ready" height="70em" width="150em" src="/assets/confirm.png">
    </div>
    </form>
</div>
    <div class="btn-play-container">
        <button *ngIf="ready" type="button" class="btn-play" (click)="goBattle()">Gioca</button>
    </div>
    
</div>