<div class="container">
    
    <div class="form-players">
    <form class="form-play" [formGroup]="player1Form" (ngSubmit)="onSubmit1()">
        <h2>Player 1</h2>
        <b>Username</b>

    <div class="input-form">
    <input required type="text" placeholder="Username" formControlName="username">
    </div>

    <b>Pokemon</b>

    <div class="select-form">
        
        <select class="select-form-play" formControlName="pokemon1">
            <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                {{pokemon.name}}
            </option>
        </select>
        <select class="select-form-play" formControlName="pokemon2">
            <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                {{pokemon.name}}
            </option>
        </select>
        <select class="select-form-play" formControlName="pokemon3">
            <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                {{pokemon.name}}
            </option>
        </select>
    </div>
    <div class="button-form">
    <button
     [hidden]="player1ready" type="button" class="btn-play" type="submit">Conferma Giocatore 1</button>
    <img [hidden]="!player1ready" height="70em" width="150em" src="/assets/confirm.png">
    </div>
    </form>


    
    <form class="form-play" [formGroup]="player2Form" (ngSubmit)="onSubmit2()">
        <h2>Player 2</h2>
        <b>Username</b>
        <div class="input-form">
        <input type="text" placeholder="Username" formControlName="username">
        </div>
        <b>Pokemon</b>
        <div class="select-form">
        <select class="select-form-play" formControlName="pokemon1">
            <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                {{pokemon.name}}
            </option>
        </select>
        <select class="select-form-play" formControlName="pokemon2">
            <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                {{pokemon.name}}
            </option>
            </select>
        <select class="select-form-play" formControlName="pokemon3">
            <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">
                {{pokemon.name}}
            </option>
        </select>
        </div>
        <div class="button-form">
    <button [hidden]="player2ready" type="button" class="btn-play" type="submit">Conferma Giocatore 2</button>
    <img [hidden]="!player2ready" height="70em" width="150em" src="/assets/confirm.png">
</div>
</form>
</div>
    <div class="btn-play-container">
        <button *ngIf="player1ready&&player2ready" type="button" class="btn-play" (click)="goBattle()">Gioca</button>
    </div>
    
</div>