.container{
    
    
    
    
    justify-content: center;
    
    
    
    padding: 2em 7%;
    border-radius: 25px;
    background-color:rgba(22, 194, 197, 0.5);
    
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

form{
    
    border-radius: 2em;
    
}
.form-play{
    
}
.form-play  input {
    height: 40px;
    width: 150px;
    background: transparent;
    text-decoration: none;
    font-size: large;
    text-align: center;
    border-radius: 15px;
    border:1px solid black;
}
.form-play select {
    height: 40px;
    width: 150px;
    background: transparent;
    text-decoration: none;
    font-size: large;
    text-align: center;
    border:1px solid black;
    border-radius: 15px;
    
}
.btn-submit{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-play button {
    align-self: center;
    align-items: center;
    border-radius: 15px;
    border:2px solid rgb(39, 160, 208);
    background: transparent;
    height: 50px;
    width: 100px;
    font-weight: 600;
    margin-top: 10px;
}
.form-play button:hover {
    cursor:pointer;
    border-radius: 15px;
    border:2px solid rgb(39, 160, 208);
    background: rgb(39, 160, 208);
    height: 50px;
    width: 100px;
    font-weight: 600;
}
.select-form-play{
    margin-top: 1em;
    
    width: 130px;
}
.select-form-play option {
    background-color: rgba(22, 194, 197, 0.5);
    border-radius: 5em;
}
.input-form{
    margin-top: 1em;
    
    width: 130px;
}
.button-form{
    margin-left: 20em;
}
.btn-play-container{
    text-align: center;
}
.btn-play {
    width: 15em;
    height: 3.5em;
    margin-top: 5em;
    font-weight: 800;
    
    color:black;
    border-radius: 25px;
    border: 2.5px solid rgba(5, 80, 17, 0.803);
    background-color: rgb(0, 226, 23);
}
.btn-play :hover{
    font-size: larger;
}
.form-players{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}