
<div class="container">
    <table class="table">
        <thead >
            <th ></th>
            <th >Nome</th>
            <th >Tipo</th>
            <th >Livello</th>
            <th >Vita</th>
            <th >Attacco</th>
            <th >Difesa</th>
            <th >Velocita</th>      
        </thead>
        <tbody *ngFor="let pokemon of pokemonList" > 
        <tr >
            <td><img [src]="pokemon.img" height="50px" width="50px"></td> 
            <td >{{pokemon.name}}</td>
            <td >{{pokemon.type}}</td>
            <td >{{pokemon.level}}</td>
            <td >{{pokemon.health}}</td>
            <td >{{pokemon.attack}}</td>
            <td >{{pokemon.defense}}</td>
            <td >{{pokemon.speed}}</td>
        </tr>
    </tbody>
    
    
</table>
</div>